.button {
    -fx-border-width: 2px;
    -fx-border-color: #596e47;
    -fx-border-radius: 20;
    -fx-background-color: #c0d19d;
    -fx-background-radius: 20;

}

.root {
    -fx-background-color: #f8ead1;
    -fx-font-family: Verdana;
}

.choice-box {
    -fx-background-color: #c0d19d;
    -fx-border-width: 1px;
    -fx-border-color: #596e47;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.choice-box .context-menu {
    -fx-background-color: #c0d19d;
    -fx-border-width: 1px;
    -fx-border-color: #596e47;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.choice-box .menu-item:focused {
    -fx-background-color: #80885f;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#weekElement {
    -fx-background-color: #c0d19d;
    -fx-border-width: 1px;
    -fx-border-color: #596e47;
}

#monday, #wednesday, #friday, #sunday {
    -fx-background-color: #becfaa;
    -fx-background-insets: 0 0 1 0px;
    -fx-alignment: center;
}

#tuesday, #thursday, #saturday {
    -fx-background-color: #bed19d;
    -fx-background-insets: 0 0 1 0px;
    -fx-alignment: center;
}

.dayHeader {
    -fx-border-color: #596e47;
}

.taskColumn {
    -fx-border-color: #596e47;
}

.class-schedule-box, .study-session-box, .assignment-box, .exam-box {
    -fx-border-width: 1;
    -fx-spacing: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.class-schedule-box {
    -fx-border-color: #607c8e;
    -fx-background-color: #96b4c9;
}

.study-session-box {
    -fx-border-color: #8e7c60;
    -fx-background-color: #dbcca3;
}

.assignment-box {
    -fx-border-color: #8e607c;
    -fx-background-color: #b8a8d6;
}

.exam-box {
    -fx-border-color: #618879;
    -fx-background-color: #a2e0c8;
}

#studyFlowLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}